* {
    /* transition: all ease 300ms; */
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    height: 100vh;
    font-size: 1.6rem;
    margin: 0px;
    background-color: black;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

:root {
    /* color */
    --primary-color: #000;
    --text-color: #fff;
    --nav-list-hover-color: rgb(158 158 158 / 10%);
    --btn-color: rgb(0 120 199);

    /* transition */
    --trans-01: all 100ms ease;
    --trans-02: all 200ms ease;
    --trans-03: all 300ms ease;
    --trans-04: all 400ms ease;
    --trans-05: all 500ms ease;
}

.btn {
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}

/* ==================Left side bar================== */

.left-side-bar {
    position: fixed;
    padding: 8px 12px 20px;
    width: 244px;
    height: 100%;
    border-right: 0.2px solid rgb(158 158 158 / 40%);
    background-color: black;
    transition: var(--trans-04);
    white-space: nowrap;
}

.left-side-bar::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
}

.left-side-bar.in-notification,
.left-side-bar.in-search {
    width: 72px;
}

.left-side-bar .container {
    display: flex;
    flex-direction: column;
}

.left-side-bar .logo {
    position: relative;
    padding: 25px 12px 16px;
    margin-bottom: 19px;
    display: flex;
    align-items: center;
}

.left-side-bar .logo .logo-text {
    opacity: 1;
    transition: var(--trans-03);
}

.left-side-bar.in-notification .logo-text,
.left-side-bar.in-search .logo-text {
    opacity: 0;
}

.left-side-bar .logo .logo-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    scale: 0;
    transition: var(--trans-03);
}

.left-side-bar.in-notification .logo-img,
.left-side-bar.in-search .logo-img {
    scale: 1;
}

.nav-list {
    height: 569.6px;
    flex-shrink: 0;
}

.nav-list__wrapper {
    display: flex;
    flex-direction: column;
}

.nav-list__item {
    padding: 12px;
    margin: 2px 0px;
    display: flex;
    align-items: center;
    transition: var(--trans-03);
}

.nav-list__item:hover,
.more:hover {
    background-color: rgb(158 158 158 / 10%);
    border-radius: 999px;
    cursor: pointer;
}

.left-side-bar.in-notification .nav-list__item.notification,
.left-side-bar.in-search .nav-list__item.search {
    border: 1px solid #fff;
    border-radius: 50%;
    transition: var(--trans-01);
}

.nav-list__item:hover .icon,
.more:hover .icon {
    transform: scale(1.08);
}

.nav-list__item .icon,
.more .icon {
    display: flex;
    align-items: center;
}

.nav-list__item:last-child .icon img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.nav-list__item .category,
.more .category {
    padding-left: 16px;
    font-weight: 400;
    font-size: 18px;
}

.left-side-bar.in-notification .category,
.left-side-bar.in-search .category {
    opacity: 0;
}

.more {
    padding: 12px;
    margin: 2px 0px;
    display: flex;
    align-items: center;
}

/* SEARCH BAR CSS */
.container-search-bar {
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    left: -400px;
    /* opacity: 0; */
    background-color: var(--primary-color);
    transition: var(--trans-04);
    border: 0.8px solid rgb(204 204 204 / 20%);
    border-radius: 0 16px 16px 0;
}

.left-side-bar.in-search .container-search-bar,
.left-side-bar.in-notification .container-notification-bar {
    /* opacity: 1; */
    left: 72px;
}

.container-search-bar .wrapper {
    display: flex;
    flex-direction: column;
}

.container-search-bar .wrapper > .heading {
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    margin: 8px 0px;
    padding: 12px 14px 36px 24px;
}

.container-search-bar .search-input {
    width: 364px;
    height: 40px;
    margin: 0 16px 24px;
}

.container-search-bar .search-input input {
    padding: 3px 16px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: var(--text-color);
    background-color: #262626;
    outline: none;
    border: none;
    border-radius: 10px;
}

.container-search-bar .search-input input::placeholder {
    font-size: 14px;
}

.container-search-bar .latest-search {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    border-top: 0.8px solid rgb(204 204 204 / 20%);
}

.latest-search .heading {
    display: flex;
    justify-content: space-between;
    margin: 6px 24px 8px;
}

.latest-search .heading p {
    font-weight: 600;
}
.latest-search .heading .btn {
    font-size: 14px;
    color: var(--btn-color);
}

.latest-search .heading .btn:hover {
    color: var(--text-color);
}

.latest-search .body {
    margin: 8px 0px;
}

.latest-search .body .search-list__item {
    display: flex;
    padding: 8px 24px;
    align-items: center;
}

.latest-search .body .search-list__item:hover {
    background-color: #141414;
}

.latest-search .search-list__item .avatar {
    margin-right: 12px;
    width: 44px;
    height: 44px;
}

.latest-search .search-list__item .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.latest-search .search-list__item .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.latest-search .search-list__item .desc .name {
    font-size: 16px;
    font-weight: 600;
}

.latest-search .search-list__item .desc .real-name {
    font-size: 16px;
    font-weight: 300;
}

.latest-search .search-list__item .del-btn {
    margin-left: auto;
    padding: 8px;
}

/* NOTIFICATION BAR CSS */
.container-notification-bar {
    position: absolute;
    top: 0;
    left: -400px;
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    /* left: -400px; */
    /* opacity: 0; */
    background-color: var(--primary-color);
    transition: var(--trans-04);
    border: 0.8px solid rgb(204 204 204 / 20%);
    border-radius: 0 16px 16px 0;
}

.container-notification-bar .wrapper {
    height: 100%;
    padding: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
}

.container-notification-bar .heading {
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    margin: 8px 0px;
    padding: 12px 14px 36px 24px;
}

.container-notification-bar .body {
    margin: 32px;
    display: flex;
    flex-direction: column;
}

.container-notification-bar .body h3 {
    margin-top: 128px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

/* =======New Modal CSS======= */
.new-modal {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
}

.is-show {
    opacity: 1;
    visibility: visible;
}

.new-modal .container {
    width: 100%;
    height: 100%;
    max-width: 527px;
    max-height: 569px;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    border-radius: 12px;
}

.new-modal .heading {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-bottom: 0.8px solid rgb(204 204 204 / 20%);
}

.new-modal .heading h2 {
    padding: 20px;
}

.new-modal .body {
    padding: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.new-modal .body .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.new-modal .body .btn label {
    display: inline-block;
    margin-top: 8px;
    cursor: pointer;
    padding: 8px;
    background-color: #0095f6;
    border-radius: 8px;
}

.new-modal .close-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

/* ==================Main content================== */
.main-content {
    width: calc(100% - 244px);
    margin-left: auto;
}

.main-content .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 0 auto; */
}

.main-content .middle {
    margin-right: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
    max-width: 630px;
    width: 100%;
}

.stories {
    width: 100%;
    margin-top: 16px;
    padding: 16px 0px;
}

.story-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.story-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.story-name {
    padding: 0px 2px;
    font-size: 12px;
    font-weight: 400;
    width: 70px;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.story-avatar {
    background: #8a2387; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f27121,
        #e94057,
        #8a2387
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f27121,
        #e94057,
        #8a2387
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    box-sizing: content-box;
}

.story-avatar img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    outline: 3px solid #000;
    object-fit: cover;
}

.middle .posts {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle .post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
}

.post-list__item {
    padding-bottom: 20px;
    margin-bottom: 24px;
    width: 468.4px;
    border-bottom: 0.8px solid rgb(204 204 204 / 20%);
}

.post-list__item .header {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.post-list__item .header .avatar {
    margin-right: 10px;
}

.post-list__item .header .avatar img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.post-header__name,
.post-list__item .header .date,
.post-like-count,
.post-status__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.post-header__name {
    margin-right: 18px;
    position: relative;
}

.post-header__name::after {
    position: absolute;
    right: -12px;
    bottom: 6px;
    background-color: #fff;
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.post-more-icon {
    margin-left: auto;
    margin-right: -4px;
    padding: 8px 0px 8px 8px;
}

.post-content .pictures {
    height: 600px;
    display: flex;
    align-items: center;
    border: 0.2px solid rgb(158 158 158 / 40%);
    border-radius: 4px;
    overflow: hidden;
}

.post-content .pictures img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    /* border-radius: 4px; */
}

.post-desc .post-interact {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 8px;
    height: 40px;
}

.post-interact > * {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.post-interact .save {
    margin-right: 0px;
    margin-left: auto;
}

.post-like-count {
    font-size: 16px;
    margin-bottom: 8px;
}

.post-status {
    display: flex;
    margin-bottom: 8px;
}

.post-status__name {
    margin-right: 4px;
}

.post-desc .view-comment {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 16px;
    color: #ccc;
    opacity: 0.8;
}

.post-comment {
    display: flex;
    align-items: center;
}

.post-comment input {
    padding: 0;
    width: 100%;
    background-color: black;
    border: 0;
    outline: 0;
    color: #fff;
}

.post-comment input::placeholder {
    font-size: 14px;
}

.post-comment svg {
    margin-left: auto;
}

/* ==================Right side bar================== */

.right-side-bar {
    padding-top: 42px;
    width: 319px;
    display: flex;
    flex-direction: column;
}

.right-side-bar .header,
.right-side-bar .suggestion-list__item,
.right-side-bar .body .heading {
    display: flex;
    align-items: center;
}

.right-side-bar .btn {
    margin-left: auto;
    font-weight: 400;
    font-size: 13px;
    color: rgb(0 120 199);
}

.right-side-bar .btn:hover {
    color: #fff;
}

.right-side-bar .header {
    margin-bottom: 10px;
}

.right-side-bar .header .name {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 4px;
}

.right-side-bar .header .real-name {
    font-weight: 300;
}

.right-side-bar .header .avatar {
    margin-right: 18px;
}

.right-side-bar .body {
    margin-bottom: 12px;
}

.right-side-bar .body .heading {
    padding: 4px 0px;
}

.right-side-bar .body .heading p {
    font-weight: 600;
    font-size: 14px;
    color: #ccc;
}

.right-side-bar .body .heading .btn {
    color: #fff;
}

.right-side-bar .header .avatar img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.right-side-bar .suggestion-list {
    margin-bottom: 12px;
}

.right-side-bar .suggestion-list__item {
    padding: 8px 0px 8px 4px;
}

.right-side-bar .suggestion-list__item .avatar {
    margin-right: 12px;
}

.right-side-bar .suggestion-list__item .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.right-side-bar .suggestion-list__item .desc .name {
    font-size: 14px;
    font-weight: 600;
}

.right-side-bar .suggestion-list__item .desc .followed-by {
    font-weight: 300;
    font-size: 13px;
}

.right-side-bar .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side-bar .footer .app-infor {
    margin-bottom: 19px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 10px;
}

.right-side-bar .footer .app-infor a {
    height: 15px;
    padding-bottom: -2px;
}

.right-side-bar .footer .app-infor a:hover {
    border-bottom: 1px solid #ccc;
}

.right-side-bar .footer .app-infor a,
.right-side-bar .footer .copy-right {
    color: #ccc;
    font-weight: 300;
    font-size: 13px;
    text-decoration: none;
    opacity: 0.8;
}
